.pokemon-list {
    flex: 1;
    padding: 0.75rem;
    border: thin solid #ccc;
    border-radius: 4px;
    color: white;
    margin: 1rem;
    background-color: #ffd6d6;
    color: rgb(78, 48, 48);
}