.pokemon {
    padding: 0.25rem 2rem;
    margin: 0.25rem;
    border: thin solid;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display:flex;
    justify-content: space-between;
}

.pokemon:hover {
    padding: 0.5rem 2rem;
}

.pokemon button{
    background-color: transparent;
    font-size:large;
    border: thin solid black;
}